<div class="tudo">
<div class="container">
    <div class="imagem">
        <img src="../../assets/imagens/joe2.jpg">
    </div>
    <div class="texto">
    <h1><b>Quem Somos</b></h1>
<p>Bem-vindo ao Playfinity! Somos uma equipe apaixonada por jogos, dedicada a criar experiências incríveis para os jogadores de todo o mundo. Fundada por Gabriel Scandurra em 2023, nossa jornada começou com uma visão clara: oferecer entretenimento de alta qualidade que desperta a imaginação e traz alegria aos jogadores.</p>

<h2>Conheça o Nosso Fundador</h2>
<p>Gabriel Scandurra, nosso visionário CEO e fundador, é a força motriz por trás desse projeto emocionante. Sua paixão inabalável por jogos e sua dedicação em proporcionar experiências memoráveis inspiram toda a equipe. Com uma vasta experiência no mundo dos jogos e uma visão inovadora, Gabriel lidera o caminho para a criação de jogos que desafiam os limites da imaginação.</p>
</div>
</div>
 </div>